¯# Rename this file to .env.local and fill in your Firebase credentials

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCFsMpCbztbCY_dVvIg4Q3_bCTpmLYuDcU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gomfnb.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gomfnb
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gomfnb.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=217261998002
NEXT_PUBLIC_FIREBASE_APP_ID=1:217261998002:web:0feeed61d807af35296eab
g *cascade08gŽŽ± *cascade08±ÇÇé *cascade08éïï• *cascade08•¯¯Ú *cascade08Úææ„ *cascade08„­­¯ *cascade08"(5a312249f0dcb7c40f235704d17f4c7c7c10e7272Rfile:///c:/Users/benzi/Dropbox/VS%20Code%20Projects%202025/gomonatefnb/env.example:Ffile:///c:/Users/benzi/Dropbox/VS%20Code%20Projects%202025/gomonatefnb